body {
  /* 加载背景图 */
  background-image: url("../img/background.jpg");
  /* 背景图垂直、水平均居中 */
  background-position: center center;
  /* 背景图不平铺 */
  background-repeat: no-repeat;
  /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
  background-attachment: fixed;
  /* 让背景图基于容器大小伸缩 */
  background-size: cover;
  /* 设置背景颜色，背景图加载过程中会显示背景色 */
  background-color: #464646;
}
.sidebar {
  border-right: 1px solid #f0f2f1;
  width: 220px;
  height: auto;
  float: left;
  padding-left: 35px;
}

.sidebar > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar > ul > li {
  font-size: 32px;
  font-weight: 420;
  padding: 0010px;
  margin-top: 5px;
}

.sidebar > ul > li > ul {
  border-top: 1px dashed rgba(0, 0, 0, 0.1);
  display: block;
  list-style: none;
  margin: 5px 010px 0;
  padding: 10px 0010px;
  font-size: 20px;
  max-height: 512px;
  overflow: auto;
  color:#000;
}

.sidebar a {
  line-height: 1.5;
}

.sidebar a:hover {
  color: #000;
  cursor: pointer;
}

.sidebar-selected {
  color: #000;
}
.category {
  color: #000;
  margin-left: 256px;
}
A:link {
    color: #000;
  }
A:hover {
    color: #000;
  }
a {
    text-decoration: none;
  }
  table{
    min-width: 100%;
}
td{
    width:200px;
}
.table-container{
    overflow:auto;
    display: block;
}
.planning{
  margin-left:128px;
  margin-top:10px;
}
.text{
  margin-right:128px;
}